## Data Manipulation in Pandas

## Importing modules

In [1]:
import pandas as pd
import numpy as np

## Adding new column

**`DataFrame.insert()`**

Syntax:
```
DataFrame.insert(loc, column, value, allow_duplicates=False)
```

In [2]:
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)
df

   A  B
0  1  4
1  2  5
2  3  6

In [3]:
df.insert(1, 'C', [7, 8, 8], True)
df

   A  C  B
0  1  7  4
1  2  8  5
2  3  8  6

**`DataFrame.assign`**
Creates a new dataframe with a new column added to the old dataframe.

In [4]:
new_df = df.assign(d=[10, 11, 12])
new_df

   A  C  B   d
0  1  7  4  10
1  2  8  5  11
2  3  8  6  12

In [5]:
new_df = df.assign(d = df['A'] + df['B'])
new_df

   A  C  B  d
0  1  7  4  5
1  2  8  5  7
2  3  8  6  9

**using a Dictionary**

In [6]:
new_df = df.set_index('A', inplace=False)
new_df

   C  B
A
1  7  4
2  8  5
3  8  6

In [7]:
col = {1: 10, 2: 20, 3: 30}

new_df['D'] = col
new_df

   C  B   D
A
1  7  4  10
2  8  5  20
3  8  6  30

**using a List**

In [8]:
df

   A  C  B
0  1  7  4
1  2  8  5
2  3  8  6

In [9]:
values = [40, 50, 60]

df['D'] = values
df

   A  C  B   D
0  1  7  4  40
1  2  8  5  50
2  3  8  6  60

**using `DateFrame.loc()`**

In [10]:
values = [100, 200, 300]

df.loc[:, 'E'] = values
df

   A  C  B   D    E
0  1  7  4  40  100
1  2  8  5  50  200
2  3  8  6  60  300

**Adding more than one columns**

In [11]:
df.columns.values

array(['A', 'C', 'B', 'D', 'E'], dtype=object)

In [12]:
new_data = {'F': [500, 600, 700], 'G': [800, 900, 1000]}

new_df = df.assign(**new_data)
new_df

   A  C  B   D    E    F     G
0  1  7  4  40  100  500   800
1  2  8  5  50  200  600   900
2  3  8  6  60  300  700  1000

## Delete rows/columns